<!doctype html>
<head>
<head>
  <title>Temperature Sensor</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="//code.highcharts.com/stock/highstock.js"></script>
  <link rel="stylesheet" type="text/css" href="static/bloating.css">
</head>
<body>
  <h1>Beer Temperature Sensor</h1>
  <div id="summary"></div>
  <div id="graph"></div>
  <div id="footer">Powered by Bloatarian</div>
  <script type="text/javascript" src="static/bloating.js"></script>
</body>
</html>
